In [142]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [143]:
df=pd.read_csv("final_train.csv")
df1=pd.read_csv("final_test.csv")

In [144]:
train=df.copy()
test=df1.copy()

In [145]:
train.head(50)

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,Fees
0,"BHMS, MD - Homeopathy",24 years experience,100%,"Kakkanad, Ernakulam",Homeopath,"100% 16 Feedback Kakkanad, Ernakulam",100
1,"BAMS, MD - Ayurveda Medicine",12 years experience,98%,"Whitefield, Bangalore",Ayurveda,"98% 76 Feedback Whitefield, Bangalore",350
2,"MBBS, MS - Otorhinolaryngology",9 years experience,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,NaN,300
3,"BSc - Zoology, BAMS",12 years experience,NaN,"Bannerghatta Road, Bangalore",Ayurveda,"Bannerghatta Road, Bangalore ?250 Available on...",250
4,BAMS,20 years experience,100%,"Keelkattalai, Chennai",Ayurveda,"100% 4 Feedback Keelkattalai, Chennai",250
5,BAMS,8 years experience,NaN,"Porur, Chennai",Ayurveda,NaN,100
6,BHMS,42 years experience,NaN,"Karol Bagh, Delhi",Homeopath,NaN,200
7,BDS,10 years experience,99%,"Arekere, Bangalore",Dentist,Dental Fillings Crowns and Bridges Fixing Impa...,200
8,"MBBS, MD - General Medicine",14 years experience,NaN,"Old City, Hyderabad",General Medicine,NaN,100
9,"BSc, BDS",23 years experience,NaN,"Athani, Ernakulam",Dentist,NaN,100
10,"MBBS, MS, DNB - ENT",5 years experience,NaN,"Thousand Lights, Chennai",ENT Specialist,NaN,700
11,BAMS,7 years experience,NaN,"Somajiguda, Hyderabad",Ayurveda,NaN,100
12,"BDS, MDS",9 years experience,98%,"Coimbatore Racecourse, Coimbatore",Dentist,"98% 14 Feedback Coimbatore Racecourse, Coimbatore",200
13,"BDS, MDS - Oral & Maxillofacial Surgery",21 years experience,NaN,"Jubilee Hills, Hyderabad",Dentist,Dental Crowns Facet Dental Dental prophylaxis,350
14,"MBBS, Diploma in Otorhinolaryngology (DLO), DN...",12 years experience,NaN,"Kondli, Delhi",ENT Specialist,NaN,500
15,"MBBS, MD - General Medicine",10 years experience,NaN,"Saroor Nagar, Hyderabad",General Medicine,NaN,200
16,"MBBS, Diploma in Otorhinolaryngology (DLO)",24 years experience,NaN,"Tambaram West, Chennai",ENT Specialist,NaN,100
17,"MBBS, MF- Homeopathy",5 years experience,NaN,"Purasawakkam, Chennai",Homeopath,NaN,300
18,"MBBS, MS - ENT",19 years experience,79%,"KPHB, Hyderabad",ENT Specialist,"79% 8 Feedback KPHB, Hyderabad",400
19,MBBS,19 years experience,100%,"HSR Layout, Bangalore",General Medicine,"100% 4 Feedback HSR Layout, Bangalore",150
20,"MDS, DNB, BDS",21 years experience,100%,"Pollachi, Coimbatore",Dentist,"100% 7 Feedback Pollachi, Coimbatore",100
21,"MBBS, DNB - ENT",14 years experience,NaN,"Vasundhra Enclave, Delhi",ENT Specialist,Adenoid / Tonsil Surgery Rhinoplasty Laryngoscopy,500
22,MBBS,41 years experience,NaN,"Chembur, Mumbai",General Medicine,NaN,200
23,"MBBS, Fellowship of College of General Practic...",31 years experience,NaN,"Thammanam, Ernakulam",General Medicine,NaN,100
24,"MBBS, DDVL",23 years experience,NaN,"Andheri, Mumbai",Dermatologists,NaN,100
25,BDS,5 years experience,NaN,"Pattom, Thiruvananthapuram",Dentist,NaN,100
26,"MBBS, IBCLC (USA)",25 years experience,100%,"HSR Layout, Bangalore",General Medicine,"100% 46 Feedback HSR Layout, Bangalore",500
27,"MBBS, MD - General Medicine, Post Graduate Dip...",12 years experience,95%,"Kukatpally, Hyderabad",General Medicine,"95% 6 Feedback Kukatpally, Hyderabad",250
28,"BDS, MDS",16 years experience,NaN,"Vadavalli, Coimbatore",Dentist,NaN,100
29,"Diploma in Dermatology, MBBS",15 years experience,97%,"Defence Colony, Delhi",Dermatologists,"97% 60 Feedback Defence Colony, Delhi",500
30,"MBBS, DDVL, Fellowship in Aesthetic Medicine",7 years experience,97%,"Banjara Hills, Hyderabad",Dermatologists,"97% 18 Feedback Banjara Hills, Hyderabad",500
31,BDS,11 years experience,NaN,"Sion West, Mumbai",Dentist,"Dentistry Sion West, Mumbai ?500",500
32,"MBBS, MS - ENT",14 years experience,94%,"CR Park, Delhi",ENT Specialist,Functional Endoscopic Sinus Surgery - FESS Sku...,100
33,"DM - Neurology, MD - Pediatrics, MBBS",23 years experience,88%,"Mogappair East, Chennai",General Medicine,"88% 2 Feedback Mogappair East, Chennai",500
34,BAMS,9 years experience,NaN,"IP Extension, Delhi",Ayurveda,NaN,300
35,"BDS, MDS - Oral & Maxillofacial Surgery, Fello...",15 years experience,100%,"Safdarjung Enclave, Delhi",Dentist,Tooth Extraction Impaction / Impacted Tooth Ex...,400
36,BDS,10 years experience,NaN,"New Friends Colony, Delhi",Dentist,Dental Fillings RCT - Root Canal Treatment Gen...,250
37,"BHMS, Diploma in Cosmetology",12 years experience,90%,"Borivali West, Mumbai",Homeopath,"90% 2 Feedback Borivali West, Mumbai",300
38,"MBBS, MS - ENT, DNB - ENT",31 years experience,80%,"Saket, Delhi",ENT Specialist,"80% 3 Feedback Saket, Delhi",100
39,"MBBS, AFIH",16 years experience,NaN,"Malad, Mumbai",General Medicine,Dermabrasion Wrinkle Treatment Microdermabrasion,100
40,"BDS, MDS - Prosthodontist And Crown Bridge",8 years experience,100%,"Hyder Nagar, Hyderabad",Dentist,Complete/Partial Dentures Fixing Acrylic Parti...,250
41,"BHMS, M. D. Hom. (Practice of Medicine)",12 years experience,100%,"Dahisar West, Mumbai",Homeopath,"100% 21 Feedback Dahisar West, Mumbai",500
42,"BAMS, Diploma in Emergency Medicine, Diploma i...",31 years experience,100%,"RT Nagar, Bangalore",Ayurveda,"100% 7 Feedback RT Nagar, Bangalore",500
43,BAMS,8 years experience,NaN,"Saroor Nagar, Hyderabad",Ayurveda,NaN,300
44,"MD - Homeopathy, DHMS (Diploma in Homeopathic ...",22 years experience,99%,"Powai, Mumbai",Homeopath,Skin Disease Treatment Endocrine and metabolic...,500
45,"MBBS, MD - Dermatology , Venereology & Leprosy",7 years experience,NaN,"Basheerbagh, Hyderabad",Dermatologists,NaN,500
46,"BDS, MDS - Oral and Maxillofacial Pathology",16 years experience,100%,"Musheerabad, Hyderabad",Dentist,Dental Fillings Tooth Extraction Periodontal F...,200
47,MBBS,31 years experience,NaN,"AS Rao Nagar, Hyderabad",General Medicine,NaN,200
48,"MBBS, DDVL",8 years experience,93%,"Madhapur, Hyderabad",Dermatologists,"93% 42 Feedback Madhapur, Hyderabad",400
49,"BDS, MDS - Oral & Maxillofacial Surgery, MFDS RCS",10 years experience,NaN,"Coimbatore Racecourse, Coimbatore",Dentist,NaN,200

In [146]:
train.nunique()

Qualification         1420
Experience              64
Rating                  51
Place                  877
Profile                  6
Miscellaneous_Info    2998
Fees                    40
dtype: int64

In [147]:
train.dtypes

Qualification         object
Experience            object
Rating                object
Place                 object
Profile               object
Miscellaneous_Info    object
Fees                   int64
dtype: object

In [148]:
#Extracting relevant data from experience
def changeexperience(x):
    bans=x.split(' ')
    return bans[0]

In [149]:
train["Experience"]=train["Experience"].apply(changeexperience)

In [150]:
test["Experience"]=test["Experience"].apply(changeexperience)

In [151]:
train["Experience"]

0       24
1       12
2        9
3       12
4       20
        ..
5956    19
5957    33
5958    41
5959    15
5960    17
Name: Experience, Length: 5961, dtype: object

In [152]:
#Dropping miscellanous as most data is erratic and cant see any value to it
train.drop("Miscellaneous_Info",axis=1,inplace=True)

In [153]:
test.drop("Miscellaneous_Info",axis=1,inplace=True)

In [154]:
#making function to split the qualification data to split data by , or space
def changequal(x):
    bans=x.split(' ')
    sans=x.split(',')
    if ',' not in x:
        return bans[0]
    else:
        return sans[0]

In [155]:
train["Qualification"]=train["Qualification"].apply(changequal)

In [156]:
#checking the qualification data we can find out that there "-" present in few rows
train.Qualification.head(5)

0             BHMS
1             BAMS
2             MBBS
3    BSc - Zoology
4             BAMS
Name: Qualification, dtype: object

In [157]:
def remove_hyp(x):
    cabs=x.split('-')
    if '-'  in x:
        return cabs[0]
    else:
        return x

In [158]:
train["Qualification"]=train["Qualification"].apply(remove_hyp)

In [159]:
test["Qualification"]=test["Qualification"].apply(changequal)

In [160]:
test["Qualification"]=test["Qualification"].apply(remove_hyp)

In [161]:
test["Qualification"].value_counts()

MBBS                                                                   865
BDS                                                                    371
BHMS                                                                   232
BAMS                                                                   228
MD                                                                      74
MDS                                                                     48
MS                                                                      31
MD                                                                      18
DNB                                                                     13
DDVL                                                                    13
MDS                                                                     13
DHMS (Diploma in Homeopathic Medicine and Surgery)                       7
B.Sc                                                                     6
Diploma in Otorhinolaryngology (DLO)                                     6
Get                                                                      6
MS                                                                       5
LCEH                                                                     5
DHMS                                                                     4
BSc                                                                      3
Diploma in Dermatology                                                   2
BSc                                                                      2
Diploma                                                                  2
BSAM                                                                     2
DM                                                                       2
Diploma in Child Health (DCH)                                            1
Certification in Aesthetic Dentistry                                     1
FWFO                                                                     1
MRCGP                                                                    1
BPTh/BPT                                                                 1
Certificate in Dental Implants                                           1
PhD                                                                      1
DMS                                                                      1
MRCP (UK)                                                                1
Diploma in ENT                                                           1
Fellowship in Aesthetic Medicine                                         1
DO                                                                       1
Post Graduate Diploma in Diabetology (PGDD)(Madras Medical College)      1
DEHM                                                                     1
Diploma in Aesthetic Medicine                                            1
M.D. (Ayu.)                                                              1
Post Graduate Certificate in Endodontics (PGCE)                          1
FRCP                                                                     1
Diploma in Cardiology                                                    1
M.S. (Ayurved) Stri Roga & Prasuti Tantra                                1
Diploma in Hospital Administration                                       1
FRCS                                                                     1
FAMS                                                                     1
DVD                                                                      1
FICD                                                                     1
MRCS (UK)                                                                1
FPFA                                                                     1
Doctor                                                                   1
DPM (Psychiatry)                                                         1
Name: Qualification, dtype: int64

In [162]:
train

,Qualification,Experience,Rating,Place,Profile,Fees
0,BHMS,24,100%,"Kakkanad, Ernakulam",Homeopath,100
1,BAMS,12,98%,"Whitefield, Bangalore",Ayurveda,350
2,MBBS,9,NaN,"Mathikere - BEL, Bangalore",ENT Specialist,300
3,BSc,12,NaN,"Bannerghatta Road, Bangalore",Ayurveda,250
4,BAMS,20,100%,"Keelkattalai, Chennai",Ayurveda,250
...,...,...,...,...,...,...
5956,MBBS,19,98%,"Basavanagudi, Bangalore",ENT Specialist,300
5957,MBBS,33,NaN,"Nungambakkam, Chennai",General Medicine,100
5958,MBBS,41,97%,"Greater Kailash Part 2, Delhi",General Medicine,600
5959,MBBS,15,90%,"Vileparle West, Mumbai",General Medicine,100
5960,BDS,17,100%,"Pitampura, Delhi",Dentist,200

In [163]:
train['Rating'] = train['Rating'].str[0:-1].astype(float)

train['Rating']

0       100.0
1        98.0
2         NaN
3         NaN
4       100.0
        ...
5956     98.0
5957      NaN
5958     97.0
5959     90.0
5960    100.0
Name: Rating, Length: 5961, dtype: float64

In [164]:
#replacing nan with 0
train['Rating'].replace(np.nan,"0",inplace=True)

In [165]:
train.head(5)

,Qualification,Experience,Rating,Place,Profile,Fees
0,BHMS,24,100,"Kakkanad, Ernakulam",Homeopath,100
1,BAMS,12,98,"Whitefield, Bangalore",Ayurveda,350
2,MBBS,9,0,"Mathikere - BEL, Bangalore",ENT Specialist,300
3,BSc,12,0,"Bannerghatta Road, Bangalore",Ayurveda,250
4,BAMS,20,100,"Keelkattalai, Chennai",Ayurveda,250

In [179]:
test['Rating'] = test['Rating'].str[0:-1].astype(float)

test['Rating']

0         NaN
1         NaN
2        70.0
3         NaN
4       100.0
        ...
1982      NaN
1983      NaN
1984      NaN
1985     98.0
1986      NaN
Name: Rating, Length: 1987, dtype: float64

In [180]:
#replacing nan with 0
test['Rating'].replace(np.nan,"0",inplace=True)

In [181]:
test.head(5)

,Qualification,Experience,Rating,Profile,City,Locality,Qualification_B.Sc,Qualification_BAMS,Qualification_BDS,Qualification_BHMS,...,Profile_Homeopath,City_bangalore,City_chennai,City_coimbatore,City_delhi,City_ernakulam,City_hyderabad,City_mumbai,City_nan,City_thiruvananthapuram
0,MBBS,35,0,General Medicine,ernakulam,kakkanad,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,MBBS,31,0,ENT Specialist,bangalore,whitefield,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,MBBS,40,70,Dermatologists,bangalore,mathikere-bel,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,BAMS,0,0,Ayurveda,bangalore,bannerghattaroad,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,BDS,16,100,Dentist,chennai,keelkattalai,0,0,1,0,...,0,0,1,0,0,0,0,0,0,0

In [182]:
#cleaning profile column
train['Profile'].unique()

array(['Homeopath', 'Ayurveda', 'ENT Specialist', 'Dentist',
       'General Medicine', 'Dermatologists'], dtype=object)

In [ ]:
train.Place = train.Place.apply(lambda x: ','.join(str(x).lower().replace(" ","").split(",")))
test.Place = train.Place.apply(lambda x: ','.join(str(x).lower().replace(" ","").split(",")))

In [ ]:
train.Place

In [ ]:
# Train Set
train['City'] = train['Place'].apply(lambda x: str(x).replace(' ','').split(',')[-1])
train['Locality'] = train['Place'].apply(lambda x: str(x).rsplit(',', 1)[0])


# Test Set
test['City'] = test['Place'].apply(lambda x: str(x).replace(' ','').split(',')[-1])
test['Locality'] = test['Place'].apply(lambda x: str(x).rsplit(',', 1)[0])

In [212]:
test.head()

,Qualification,Experience,Rating,Profile,City,Locality,Qualification_B.Sc,Qualification_BAMS,Qualification_BDS,Qualification_BHMS,...,Locality_westofchordroad,Locality_whitefield,Locality_wilsongarden,Locality_worli,Locality_yakutpura,Locality_yamunavihar,Locality_yelahanka,Locality_yelahankanewtown,Locality_yeshwanthpur,Locality_yousufguda
0,MBBS,35,0,General Medicine,ernakulam,kakkanad,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MBBS,31,0,ENT Specialist,bangalore,whitefield,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,MBBS,40,70,Dermatologists,bangalore,mathikere-bel,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BAMS,0,0,Ayurveda,bangalore,bannerghattaroad,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,BDS,16,100,Dentist,chennai,keelkattalai,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [171]:
train.drop("Place",axis=1,inplace=True)
test.drop("Place",axis=1,inplace=True)

In [172]:
train.nunique()

Qualification    102
Experience        64
Rating            52
Profile            6
Fees              40
City              10
Locality         866
dtype: int64

In [189]:
temp = pd.get_dummies(train[['Qualification','Profile', 'City','Locality']], prefix_sep = '_', prefix = ['Qualification','Profile', 'City','Locality'])
train = pd.concat([train, temp], axis=1, join = 'inner')
train.head()

,Qualification,Experience,Rating,Profile,Fees,City,Locality,Qualification_39,Qualification_Advanced Certificate Course in Aesthetic Dentistry,Qualification_Ayurvedic panchkarma,...,Locality_whitefield,Locality_wilsongarden,Locality_worli,Locality_yakutpura,Locality_yamunavihar,Locality_yelahanka,Locality_yelahankanewtown,Locality_yellareddyguda,Locality_yeshwanthpur,Locality_yousufguda
0,BHMS,24,100,Homeopath,100,ernakulam,kakkanad,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,BAMS,12,98,Ayurveda,350,bangalore,whitefield,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,MBBS,9,0,ENT Specialist,300,bangalore,mathikere-bel,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BSc,12,0,Ayurveda,250,bangalore,bannerghattaroad,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,BAMS,20,100,Ayurveda,250,chennai,keelkattalai,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [191]:
temp = pd.get_dummies(test[['Qualification','Profile', 'City','Locality']], prefix_sep = '_', prefix = ['Qualification','Profile', 'City','Locality'])
test = pd.concat([test, temp], axis=1, join = 'inner')
test.head()

,Qualification,Experience,Rating,Profile,City,Locality,Qualification_B.Sc,Qualification_BAMS,Qualification_BDS,Qualification_BHMS,...,Locality_westofchordroad,Locality_whitefield,Locality_wilsongarden,Locality_worli,Locality_yakutpura,Locality_yamunavihar,Locality_yelahanka,Locality_yelahankanewtown,Locality_yeshwanthpur,Locality_yousufguda
0,MBBS,35,0,General Medicine,ernakulam,kakkanad,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,MBBS,31,0,ENT Specialist,bangalore,whitefield,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,MBBS,40,70,Dermatologists,bangalore,mathikere-bel,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BAMS,0,0,Ayurveda,bangalore,bannerghattaroad,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,BDS,16,100,Dentist,chennai,keelkattalai,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# Finding correlation

In [175]:
train.corr()

,Fees,Qualification_39,Qualification_Advanced Certificate Course in Aesthetic Dentistry,Qualification_Ayurvedic panchkarma,Qualification_B.Ac,Qualification_B.Sc,Qualification_BAMS,Qualification_BDS,Qualification_BEMS,Qualification_BHMS,...,City_bangalore,City_chennai,City_coimbatore,City_delhi,City_e,City_ernakulam,City_hyderabad,City_mumbai,City_nan,City_thiruvananthapuram
Fees,1.000000,-0.000539,-0.014109,0.006246,0.006246,-0.007276,-0.141662,-0.187527,-0.015157,-0.012374,...,0.056616,-0.052178,-0.160503,0.143421,-0.003932,-0.101609,-0.000997,0.000925,-0.070010,-0.089157
Qualification_39,-0.000539,1.000000,-0.000168,-0.000168,-0.000168,-0.000504,-0.004767,-0.006530,-0.000237,-0.004748,...,-0.006699,-0.005301,-0.002583,0.026005,-0.000168,-0.002102,-0.005643,-0.006567,-0.000841,-0.001567
Qualification_Advanced Certificate Course in Aesthetic Dentistry,-0.014109,-0.000168,1.000000,-0.000168,-0.000168,-0.000504,-0.004767,-0.006530,-0.000237,-0.004748,...,-0.006699,-0.005301,-0.002583,-0.006452,-0.000168,-0.002102,-0.005643,0.025548,-0.000841,-0.001567
Qualification_Ayurvedic panchkarma,0.006246,-0.000168,-0.000168,1.000000,-0.000168,-0.000504,-0.004767,-0.006530,-0.000237,-0.004748,...,-0.006699,-0.005301,-0.002583,-0.006452,-0.000168,-0.002102,-0.005643,0.025548,-0.000841,-0.001567
Qualification_B.Ac,0.006246,-0.000168,-0.000168,-0.000168,1.000000,-0.000504,-0.004767,-0.006530,-0.000237,-0.004748,...,0.025045,-0.005301,-0.002583,-0.006452,-0.000168,-0.002102,-0.005643,-0.006567,-0.000841,-0.001567
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
City_ernakulam,-0.101609,-0.002102,-0.002102,-0.002102,-0.002102,-0.006311,-0.020453,0.084434,-0.002973,-0.023378,...,-0.083943,-0.066416,-0.032367,-0.080846,-0.002102,1.000000,-0.070714,-0.082291,-0.010533,-0.019637
City_hyderabad,-0.000997,-0.005643,-0.005643,-0.005643,-0.005643,-0.005143,-0.024638,-0.004240,0.017034,-0.016494,...,-0.225333,-0.178285,-0.086886,-0.217019,-0.005643,-0.070714,1.000000,-0.220898,-0.028274,-0.052713
City_mumbai,0.000925,-0.006567,0.025548,0.025548,-0.006567,-0.019716,0.095737,-0.065219,0.013422,0.026550,...,-0.262225,-0.207474,-0.101111,-0.252550,-0.006567,-0.082291,-0.220898,1.000000,-0.032904,-0.061343
City_nan,-0.070010,-0.000841,-0.000841,-0.000841,-0.000841,-0.002524,-0.023882,-0.032717,-0.001189,-0.023787,...,-0.033564,-0.026556,-0.012942,-0.032326,-0.000841,-0.010533,-0.028274,-0.032904,1.000000,-0.007852
City_thiruvananthapuram,-0.089157,-0.001567,-0.001567,-0.001567,-0.001567,-0.004705,0.016244,0.061499,-0.002217,-0.013869,...,-0.062575,-0.049509,-0.024128,-0.060266,-0.001567,-0.019637,-0.052713,-0.061343,-0.007852,1.000000

In [193]:
train.skew()

Experience                                                           0.991089
Rating                                                               0.247186
Fees                                                                 0.751870
Qualification_39                                                    77.207513
Qualification_Advanced Certificate Course in Aesthetic Dentistry    77.207513
                                                                      ...
Locality_yelahanka                                                  13.992984
Locality_yelahankanewtown                                           29.137602
Locality_yellareddyguda                                             77.207513
Locality_yeshwanthpur                                               18.120015
Locality_yousufguda                                                 38.574597
Length: 1223, dtype: float64

In [196]:
Train=train.drop(['Qualification','Profile', 'City','Locality'],axis=1)

In [198]:
x=Train.drop(["Fees"],axis=1)
y=Train["Fees"]

from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x=sc.fit_transform(x)

In [200]:
#train test split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=89,test_size=.20)

In [201]:
print(x_train.shape,"\n",x_test.shape)

(4768, 1222)
 (1193, 1222)

In [214]:
from sklearn.linear_model import LinearRegression,Lasso,Ridge
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn.neighbors import KNeighborsRegressor 
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import GridSearchCV

In [ ]:
max_r2=0
for rand in range(1,90):
    x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=rand)
    lr=LinearRegression()
    lr.fit(x_train,y_train)
    y_pred=lr.predict(x_test)
    r2_scr=r2_score(y_test,y_pred)
    if r2_scr>max_r2:
        max_r2=r2_scr
print("max r2 score",max_r2,"random",rand)

In [216]:

KNeighborsRegressor(n_neighbors=7)

model=[lr,DecisionTreeRegressor(),KNN,Lasso(),Ridge()]
max_r2_score= 0
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.3, random_state=89)
for md in model:
    md.fit(x_train,y_train)
    y_pre=md.predict(x_test)
    r2_scr=r2_score(y_test,y_pre)
    print(r2_scr)
    if r2_scr>max_r2_score:
        max_r2_score=r2_scr
        best_model=md
print()
print()
print()
print("max score ",max_r2_score,"best model is ",best_model)

-5.477180181514273e+19
-0.26670327634024926
-0.43837124606950795
0.1932173192168496
0.25241762822930547



max score  0.25241762822930547 best model is  Ridge()

In [217]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import BaggingRegressor
from sklearn.ensemble import ExtraTreesRegressor

In [219]:

model_boost=[RandomForestRegressor(),AdaBoostRegressor(),GradientBoostingRegressor(),BaggingRegressor(),ExtraTreesRegressor()]

for mod in model_boost:
    x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=89,test_size=.20)
    print("*************",mod,"***************")
    mod.fit(x_train,y_train)
    mod.score(x_train,y_train)
    y_pred=mod.predict(x_test)
    print("r2 score of ",mod,"is as follow" )
    print("\n",r2_score(y_test,y_pred))
    print("mean absolute error",mean_absolute_error(y_test,y_pred))
    print("mean squared error",mean_squared_error(y_test,y_pred))
    print("\n\n")
    print("******************************************")
    print("\n\n")

************* RandomForestRegressor() ***************
r2 score of  RandomForestRegressor() is as follow

 0.20472351971448144
mean absolute error 124.00239226173845
mean squared error 28322.95953406267



******************************************



************* AdaBoostRegressor() ***************
r2 score of  AdaBoostRegressor() is as follow

 0.11766898534282544
mean absolute error 147.54660304650523
mean squared error 31423.317856466307



******************************************



************* GradientBoostingRegressor() ***************
r2 score of  GradientBoostingRegressor() is as follow

 0.22186992068988032
mean absolute error 132.05908994170684
mean squared error 27712.307977000797



******************************************



************* BaggingRegressor() ***************
r2 score of  BaggingRegressor() is as follow

 0.14833287402959439
mean absolute error 127.14213467449007
mean squared error 30331.25478159635



******************************************



************* ExtraTreesRegressor() ***************
r2 score of  ExtraTreesRegressor() is as follow

 0.036750409686523655
mean absolute error 128.1802179379715
mean squared error 34305.15027661358



******************************************